
.App {
  text-align: center;
}
.nav a{
  text-decoration: none;
  margin-right:30%;
  text-align: center;

}
.nav{

  background-color: palevioletred;
  font-size: 40px;
  font-family: sans-serif; 
  margin-bottom: 2%;
 width: 100%;
}
.home{
  font-size: 30px;
  background-color:lawngreen;
  width: 20%;
}
.contact{
  font-size: 30px;
  background-color:orangered;
  width: 20%;
}
.about{
  font-size: 30px;
  background-color:powderblue;
  width: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
